/*主体*/
#hxx{
	width: 1000px;
	/*height: 3497px;*/
	margin:0 auto;
}
/*台北行程简介*/
.hxx1,.hxx9{
	font-size: 14px;
}
.hxx1,.hxx2{
	color: #3c3c3c;
}
.hxx1{
	line-height: 14px;
	padding-top: 20px;
}
.hxx2{
	font-size: 28px;
	line-height: 28px;
	padding-top: 20px;
	font-weight: bold;
}
.hxx3{
	overflow: hidden;
	padding-top: 19px;
	padding-bottom: 20px;
}
.hxx3 span{
	float: left;
}
.hxx3 input{
	float: right;
}
.hxx4{
	font-size: 18px;
	color: #5ab4f5;
	font-weight: bold;
	padding-top: 12px;
}
.hxx5{
	font-size: 16px;
	padding-top: 20px;
	line-height: 16px;
}
.hxx5,.hxx6{
	color: #cc0000;
}
.hxx5,.hxx6,.hxx8{
	font-weight: bold;
}
.hxx6{
	font-size: 28px;
	line-height: 28px;
	padding-top: 8px;
}
.hxx9{
	color: #6e6e6e;
	padding-top: 17px;
	padding-left: 50px;
}
.hxx8{
	width: 148px;
	height: 36px;
	font-size: 18px;
	font-weight: normal;
	font-family: "微软雅黑";
	text-align: center;
	background-color: #5ab4f5;
	border:0;
	border-radius: 10px;
	color: #fff;
	margin-left: 17px;
}
.hxx10{
	position: relative;
}
.hxx10 img{
	float: left;
}
.hxx13{
	position: absolute;
	right: 20px;
	top: 20px;
}
.hxx11,.hxx12{
	color: #fff;
	font-size: 14px;
	padding-left: 40px;
}
.hxx11{
	background: url(../img/h62.png) 15px center no-repeat ;
}
.hxx12{
	background: url(../img/h63.png) 15px center no-repeat ;
}
.hxx14{
	position: absolute;
	left: 20px;
	top: 205px;
}
.hxx15{
	position: absolute;
	right: 20px;
	top: 205px;
}
/*<!-- 台湾岛简介 -->*/
.hxx16{
	margin-top: 30px;
	margin-top: 30px;
	overflow: hidden;
	font-size: 16px;
}
.hxx16 img{
	float: left;
}
.hxx17{
	width: 660px;
	float: right;
}
.hxx18{
	border-top: 1px dashed #6e6e6e;
	border-bottom: 1px dashed #6e6e6e;
	overflow: hidden;
}
.hxx18 img{
	padding:4px 0; 
}
.hxx19{
	padding-left: 30px;
	color:#5ab4f5;
	line-height: 27px;
	float: right;
	padding-right: 30px;
	font-weight: bold;
	background:url(../img/h28.jpg) 5px center no-repeat;
}
.hxx20,.hxx25,.hxx26{
	font-size: 14px;
	color: #6e6e6e;
}
.hxx20{
	line-height: 35px;
}
.hxx21,.hxx23{
	font-size: 18px;
	font-weight: bold;
	line-height: 42px;
}
.hxx21,.hxx22,.hxx23{
	color: #3c3c3c;
}
.hxx22,.hxx25,.hxx24{
	padding-right: 30px;
}
.hxx22,.hxx24{
	line-height: 25px;
}
.hxx24{
	padding-bottom: 20px;
	border-bottom: 1px dashed #6e6e6e;
}
.hxx25,.hxx26{
	line-height: 23px;
}
.hxx26{
	padding-bottom: 6px;
	text-align: right;
	padding-right: 70px;
	border-bottom: 1px solid #6e6e6e;
}
/*行程详情*/
.hxx27{
	font-size: 18px;
	line-height: 38px;
	font-weight: bold;
	color: #fff;
	background-color: #ffa000;
	padding-left: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.hxx31{
	overflow: hidden;
	text-align: center;
	width: 340px;
	margin:0 auto;
}
.hxx28,.hxx29{
	font-size: 18px;
	width: 94px;
	line-height: 38px;
	float: left;
	border:1px solid #b5b5b5;
	border-bottom: 0;
}
.hxx28{
	background-color: #b5b5b5;
	color: #fff;
}
.hxx29{
	color: #b5b5b5;
	margin-left: 26px;
}
.hxx30{
	/*height: 950px;*/
	border:1px solid #aaa;
	padding-left: 20px;
	padding-right: 30px;
	font-size: 18px;
	color: #3c3c3c;
	font-weight: bold;
}
.hl18{
	line-height: 18px;
}
.hxf{
	overflow: hidden;
}
.hxx32{
	float: left;
	width: 102px;
	border-right: 2px dashed #b5b5b5;
	margin-bottom: 90px;
	margin-top: 38px;
}
.hxx32 li{
	position: relative;
}
.hxx34{
	padding-top: 45px;
}
.hxx35{
	padding-top: 215px;
}
.hxx36{
	padding-top: 206px;
}
.hxx37{
	padding-top: 38px;
	padding-bottom: 210px;
}
.hxx39{
	width: 806px;
}
.hxx42,.hxx39{
	float: right;
}
.hxx40{
	padding-top: 101px;
}

.hxx41{
	width: 227px;
	height: 160px;
	float: left;
	margin-top: 20px;
	background: url(../img/h67.png) left top no-repeat;
}
.hxx42{
	width: 546px;
	padding-top: 30px;
}
.hxx45{
	font-size: 16px;
	font-weight: normal;
}
.hxx45,.hxx44{
	padding-top: 20px;
}
.hxx46{
	padding-top: 35px;
}
.hxx47{
	padding-top: 35px;
}
.hxx48{
	padding-top: 82px;
}
.hxx49{
	background: url(../img/h67.png) left center no-repeat;
}.hxx50{
	background: url(../img/h67.png) left bottom no-repeat;

}
.hxx51{
	padding-top: 22px;
}
.hxx52{
	padding-top: 30px;
}
.hxx53{
	text-align: right;
	margin-top: 24px;
	margin-bottom: 30px;
}
.hxx54{
	width: 44px;
	height: 44px;
	position: absolute;
	right: -21px;
	bottom: -12px;
	background: url(../img/h69.png) left top no-repeat;
}
.hxx55{
	background: url(../img/h69.png) left 25% no-repeat;
}
.hxx56{
	background: url(../img/h69.png) left 50% no-repeat;
}
.hxx57{
	background: url(../img/h69.png) left 75% no-repeat;
}
.hxx58{
	background: url(../img/h69.png) left bottom no-repeat;
	top: 25px;
}
.hxx59{
	background: url(../img/h69.png) left 25% no-repeat;
}
/*购买须知*/
.hxx60{
	margin-top: 26px;
	font-size: 18px;
	color: #3c3c3c;
	border-bottom: 1px solid #898989;
	padding-bottom: 15px;
}
.hxx61,.hxx62{
	font-weight: bold;
}
.hxx61{
	line-height: 38px;
	background-color: #ffa000;
	color: #fff;
	padding-left: 20px;
}
.hxx62{
	line-height: 18px;
	margin-top: 20px;
	margin-bottom: 15px;
}
.hxx62,.hxx63{
	padding-left: 60px;
}
.hxx63{
	font-size: 16px;
	line-height: 26px;
}
.hxx64{
	background: url(../img/h68.png) 20px bottom no-repeat;
}
.hxx65{
	background: url(../img/h68.png) 20px top no-repeat;
}
.hxx66{
	padding-top: 3px;
}
/*评论及猜你喜欢*/
.hxx67{
	overflow: hidden;
}
/*评论66*/
.hxx68{
	float: left;
	width: 702px;
	margin-top: 10px;
}
/*猜你喜欢*/
.hxx69{
	margin-top: 30px;
}
.hxx70{
	overflow: hidden;
	padding-top: 20px;
}
.hxx71{
	float: left;
	width: 50px;
	text-align: center;
}
.hxx72{
	float: right;
	width: 522px;
	font-size: 14px;
}
.hxx721{
	line-height: 14px;
}
.hxx73{
	margin-bottom: 8px;
}
.hxx74{
	padding-top: 15px;
	padding-bottom: 15px;
}
.hxx75{
	color: #367bc0;
	padding-left: 15px;
}
.hxx76{
	width: 590px;
	height: 58px;
}
.hxx77{
	text-align: right;
}