#cen{
	width:1000px;
	margin:20px auto;
	overflow:hidden;
}
.zt1{
	padding:21px 0;
	font-size:14px;
	word-spacing: 5px;
}
.zt2{
	width:1000px;
	border-bottom: 2px #51b23e solid; 
	margin:0 auto;
	overflow:hidden;
}
.zt3{
	font-size:18px;
	padding-left:20px;
	float:left;
	line-height:25px;
}
.zt4{
	font-size:16px;
	color:#51b23e;
	float:right;
	padding-right:20px;
	text-decoration:underline;
	cursor:pointer;
}
.zg5{
	float:right;
	padding-right:20px;
	cursor:pointer;
	margin-top:6px;
}
.zg6{
	color:#ffa000;
}
.zg1,.zg3{
	color:#868686;
	font-size:12px;
	float:right;
	padding-right:33px;
	margin-top:5px;
}
.zg2,.zg4{
	float:right;
	padding-right:14px;
	margin-top:6px;
	cursor:pointer;
}
.zg3{
	padding-right:23px;
}
.zg4{
	padding-right:10px;
}
.zt6{
	width:701px;
	height:1508px;
	background:#fff;
	float:left;
	margin-top:20px;
}
.zt8{
	position:relative;
	width:701px;
	height:439px;
}
.zt9{
	height:50px;
	width:701px;
	background:#000;
	opacity:0.5;
	position:absolute;
	bottom:0;
}
.zt10{
	font-size:18px;
	color:#fff;
	text-align:center;
	position:absolute;
	bottom:13px;
	left:286px;
}
.zt11{
	position:absolute;
	bottom:200px;
	left:13px;
	cursor:pointer;
}
.zt15{
	width:681px;
	background:#51b23e;
	margin-top:30px;
	font-size:18px;
	color:#fff;
	padding:7px 0 7px 20px;
}
.zt12{
	width:682px;
	height:291px;
	float:right;
	margin-top:20px;
}
.zt16{
	overflow:hidden;
}
.zt17{
	width:70px;
	height:70px;
	background:url(img/zc6.png) 0 0 no-repeat;
	float:left;
}
.zt18{
	float:right;
	height:100px;
	width:592px;
	text-align:center;
	line-height:100px;
	font-size:12px;
	
}
.zt19{
	color:#ffa000;
}
.zt20{
	float:left;
	font-size:14px;
	margin-left:27px;
	margin-top:20px;
}
.zt21{
	font-size:12px;
	color:#6e6e6e;
	float:right;
	padding-top:10px;
	padding-bottom:13px;

}
.zt22{
	float:right;
	width:80px;
	height:25px;
	border-radius:5px;
	background:#5ab4f5;
	clear:right;
	color:#fff;
	border:0;
	cursor:pointer;
}
.zt24{
	overflow:hidden;
	margin-top:20px;
}
.zt25{
	width:70px;
	height:70px;
	background:url(img/zc6.png) 0 0 no-repeat;
	float:left;
}
.zt26{
	float:right;
	padding-left:19px;
	font-size:14px;
}
.zt27{
	float:right;
	width:588px;
	border-top:1px dashed #898989;
	border-bottom:1px dashed #898989;
	overflow:hidden;
	margin-top:38px;
}
.zt28{
	float:left;
	color:#6e6e6e;
	font-size:14px;
	line-height:25px;
}
.zt29{
	float:right;
	padding-right:34px;
}
.zt30{
	float:right;
	font-size:14px;
	color:#144b6e;
	line-height:25px;
}
.zt31{
	float:left;
	font-size:14px;
	margin-left:27px;
	margin-top:10px;
}
#zt12{
	width:590px;
	float:right;
}
.zt32{
	margin-top:20px;
	overflow:hidden;
}
.zt33{
	float:left;
	height:50px;
	width:50px;
	background:url(img/zc8.png) 0 0 no-repeat;
}
.zt34{
	float:left;
	padding-left:20px;
	font-size:14px;
	font-weight:bold;
}
.zt35{
	float:right;
	padding-left:22px;
	font-size:14px;
	margin-top:20px;
}
.zt36{
	float:left;
	font-size:14px;
}
.zt37{
	float:left;
	color:#6e6e6e;
	font-size:14px;
	padding-left:22px;
	padding-top:10px;
}
.zt38{
	font-size:14px;
	padding-left:18px;
	color:#176fbb;
	float:left;
	padding-top:10px;
}
.zt39{
	background:url(img/zc9.png) 0 0 no-repeat;
	float:left;
	height:50px;
	width:50px;
}
.zt40{
	word-spacing:10px;
	font-size:14px;
	padding-left:18px;
	color:#176fbb;
	float:left;
	padding-top:10px;
}
.zt213{
	float:left;
	margin-left:10px;
	margin-bottom:-14px;
}
.zt41{
	width:588px;
	height:60px;
	float:right;
	margin-top:15px;
}
.zt42{
	float:right;
	width:80px;
	height:25px;
	border-radius:5px;
	background:#5ab4f5;
	clear:right;
	color:#fff;
	margin-bottom:10px;
	border:0px;
	cursor:pointer;
}
.zt43{
	width:682px;
	overflow:hidden;
	margin-left:18px;
	margin-top:20px;
}
.zt45{
	width:702px;
	height:63px;
}
.zt46{
	margin:0 auto;
	width:264px;
	overflow:hidden;

}
.zt47,.zt48,.zt50{
	font-size:12px;
	color:#6e6e6e;
	float:left;
	padding:20px 0 30px 0;
	cursor:pointer;
}
.zt48{
	color:#3c3c3c;
	padding-left:14px;
	word-spacing:5px;
}
.zt49{
	width:30px;
	background:#6e6e6e;
	color:#fff;
	text-align:center;
	line-height:20px;
	margin:18px 0 0 12px;
	font-size:12px;
	float:left;
	cursor:pointer;
}
.zt50{
	float:right;
}
.zt100{
	height:1px;
	width:700px;
	border-bottom: 1px solid #898989;
	float:left;
}
.zp1{
	width:270px;
	height:851px;
	background:#fff;
	float:right;
	margin-top:20px;
}
.zt88{
	width:268px;
	border:1px solid #c8c8c8;
}
.zt51{
	width:268px;
	border-bottom:1px solid #c8c8c8;
	overflow:hidden;
}
.zt52{
	width:50px;
	height:50px;
	background:url(img/zc5.png) 0 0 no-repeat;
	float:left;
	margin:19px 21px 20px 19px;
}
.zt53,.zt54{
	font-size:14px;
	padding-top:20px;
	float:left;
	font-weight:bold;
}
.zt54{
	padding-top:13px;
}
.zt55{
	overflow:hidden;
}
.zt56,.zt57,.zt58{
	float:left;
	margin:7px 0 6px 13px;
}
.zt57{
	margin-left:14px;
}
.zt58{
	margin-left:16px;
}
.zt89{
	width:270px;
	margin-top:20px;
	background:#51b23e;
}
.zt59{
	font-size:18px;
	color:#fff;
	line-height:38px;
	padding-left:20px;
}
.zt90{
	width:268px;
	margin-top:20px;
	border:1px solid #6e6e6e;
}
.zt60,.zt63{
	margin:20px 0 0 27px;
	position:relative;
	font-size:0;
}
.zt61{
	width:213px;
	height:30px;
	opacity:0.5;
	background:#000;
	position:absolute;
	bottom:0;
}
.zy1,.zy2,.zy3,.zy4{
	position:absolute;
	bottom:4px;
	right:150px;
	cursor:pointer;
}
.zy2,.zy4{
	font-size:12px;
	color:#fff;
	bottom:5px;
	right:114px;
}
.zy3{
	bottom:3px;
	right:78px;
}
.zy4{
	right:40px;
}
.zt63{
	margin-bottom:19px;
}
.zt91{
	width:268px;
	height:189px;
	border:1px solid #6e6e6e;
	margin-top:20px;
}
