.za{
	width:1000px;
	margin:0 auto;
	padding:21px 0 20px 0;
	font-size:14px;
}
.za1{
	height:350px;
	background:url(img/zx1.png) center top no-repeat;
	position:relative;
}
.za2{
	height:90px;
	background:#000;
	opacity:0.5;
	width:1349px;
	position:absolute;
	bottom:0;
}
.za3{
	width:100px;
	height:100px;
	background:url(img/zx2.png);
	position:absolute;
	bottom:41px;
	left:200px;
}
.za4{
	position:absolute;
	font-size:18px;
	bottom:10px;
	left:214px;
	color:#fff;
}
.za5{
	width:1000px;
	margin:29px auto;
	border-bottom:2px solid #51b23e;
	overflow:hidden;
}
.za6{
	float:left;
	width:127px;
	background:#51b23e;
	font-size:22px;
	color:#fff;
	line-height:36px;
	text-align:center;
	
}
.za7{
	float:left;
	padding-left:36px;
	color:#51b23e;
	font-size:18px;
	line-height:36px;
}
.za9{
	height:21px;
	width:59px;
	float:right;
	margin:8px 10px 0 0;
	background:url(img/zx19.png) 0 0 no-repeat;
}
.za8{
	line-height:36px;
	font-size:14px;
	float:right;
	margin-right:15px; 
}
.za10{
	width:1000px;
	margin:0 auto;
	overflow:hidden;
	margin-bottom:30px;
}
.za11,.za14,.za15,.za16,.za17,.za18,.za19,.za20,.za21,.za22,.za23,.za24,.za25,.za26,.za27{
	float:left;
	position:relative;
	width:313px;
	height:220px;
}
.za12{
	width:313px;
	height:30px;
	background:#000;
	opacity:0.5;
	bottom:0;
	position:absolute;
}
.zy1,.zy2,.zy3,.zy4{
	position:absolute;
	bottom:4px;
	right:120px;
	cursor:pointer;
}
.zy2,.zy4{
	font-size:12px;
	color:#fff;
	bottom:7px;
	right:84px;
}
.zy3{
	bottom:3px;
	right:48px;
}
.zy4{
	right:10px;
}
.za14{
	margin-left:31px;
}
.za15{
	margin-left:30px;
}
.za16,.za19,.za22,.za25{
	margin-top:30px;
}
.za17,.za20,.za23,.za26{
	margin:30px 0 0 31px;
}
.za18,.za21,.za24,.za27{
	margin:30px 0 0 30px;
}
#zfoot{
	background:#023c4d;
	border-bottom:1px solid #fff;
	margin-top:30px;
}