body{
	min-width: 1100px;
}
#d1{
	width: 983px;
	margin: 0 auto;
	margin-top: 12px;
	padding-bottom: 6px;
}
#d1:after{
	display:block; 
	content:""; 
	height:0;
	clear:both; 
}
#d2{
	float: left; 
}
#d3{
	float: right;
}
#d3 img{
	vertical-align: middle;
}
#d3 a{
	font-size: 14px;
	text-decoration: none;
	color: black;
}
#d4{
	color: #ffa000;
	font-size: 14px;
}
#d5,#d6{
	padding: 0 15px;
	border-right: 2px solid black;
}
#d5{
	border-left: 2px solid black;
	margin-left: 15px;
}
#d3 #d7{
	margin-left: 15px;
	vertical-align: top;
}
#d8{
padding: 0 15px 0 7px;
}
#d9{
	height: 26px;
	width: 153px;
	border:1px solid black; 
	font-size: 18px;
}
#d3 #d10{
	vertical-align:top;
}
#d11{
	font-size: 0;
}
#d12{
	float: left;
	margin-left: 56px;
	margin-top: 41px;
	font-size: 18px;
}
#d12 img{
	vertical-align: top;
}
#d12 .lf3{
	margin-left: 35px;
	color: black;
}
#d12 .lf3:hover{
	color: blue;
}
#d12 .lf2{
	position: relative;
	margin-left: 35px;
	color: black;
	cursor: pointer;
}
#d12 .lf2:hover{
	color: blue;
}
.lf2:hover .lf1{
	display: block;
}
.lf1{
	position: absolute;
	width:54px;
	line-height: 30px;
	background: #79c5fb;
	text-align: justify;
	right: -10px;
	top: 22px;
	opacity: 0.8;
	z-index: 2;
	border-radius: 5px;
	display: none;
}
.lf5{
	right: 8px;
}
.lf1 a{
	color: black;
}
.lf1 a:hover{
	color: white;
}
#lf4{
	word-spacing: 12px;
}
#d13{
	border-bottom: 4px solid #176fbb;
	position: relative;
	z-index: 1;
}
/*头部*/
#d36{
	background: #023c4d;
	padding: 20px 0 12px 0;
	border-bottom: 1px solid white;
}
#d37{
	width: 800px;
	margin: 0 auto;
	overflow: hidden;
}
#d38{
	float: left;
	word-spacing: 74px;
	color: white;
	font-size: 18px;
}
#d39{
	float: right;
	word-spacing: 2px;
	color: white;
	font-size: 25px;
	margin-top: -3px;
}
#d40{
	width: 800px;
	margin: -2px auto;
	overflow: hidden;
	font-size: 15px;
}
#d40 div{
	margin-right: 91px;
	line-height: 29px;
	overflow: hidden;
	width: 60px;
	float: left;
}
#d40 a{
	color: white;
	float: left;
}
#d41{
	float: left;
	margin: 15px 105px 0 3px;
	
}
#d42{
	float: left;
	margin-top: 10px;
	color: white;
	font-size: 18px;
	line-height: 30px;
}
#d43{
	float: right;
	background:white;
	color: #023c4d;
	width: 130px;
	font-size: 14px;
	border-radius: 5px;
	line-height: 25px;
	text-align: center;
	margin: 17px 32px 0 0;
}
#lgg{
	background: #023c4d;
}
#lgg p{
	width: 570px;
	line-height: 58px;
	color: white;
	margin: 0 auto;
	font-size: 14.5px;
}
/*尾部*/