.Dmslb{
	padding-bottom: 17px;
	padding-top: 18px;
	font-size:14px;
	width: 1000px;
	margin: 0 auto;
}
.Dmslbk1{
	height: 350px;
	background:red url(img/buzou/jytb.png) center center no-repeat;
}
.DWZ{
	width:940px;
	margin: 0 auto;
	color: white;
	padding-top: 30px;
	padding-left: 60px;
}
.DWZX{
}
.Dspjy{
	font-size: 27.52px;
}
.Dsphzw{
	font-size: 40px;
}
.Dxzsjsd{
	margin-top: 25px;
	font-size: 27.52px;
}
#hold{
	margin-top:30px; 
}
.hz{
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
.hl{
	float: left;
}
.hlt{
	width: 264px;
	margin: 0 auto;
	overflow: hidden;
	font-size: 18px;
}
.hltd1,.hltd2{
	float: left;
	padding:7px 38px;
}
.hltd1{
	background: #cc0000;
}
.hltd2{
	background: #bfbfbf;
}
.hlk1{
	overflow: hidden;
	padding: 13px 0;
	border-bottom: 1px solid #c8c8c8;
}
.hlk1l{
	float: left;
	color: #000;
	font-size: 18px;
}
.hlk1r{
	float: right;
}
.DIi2,.DIi3{
	vertical-align: middle;
}
.DIi3{
	margin-left: 20px;
}
.D1168{
	color: white;
	margin-left: 10px;
	font-size: 12px;
}
.hlk2{
	padding: 23px 0;
	overflow: hidden;
	border-bottom: 1px solid #c8c8c8;

}
.hlk2l{
	float: left;
}
.hlk2r{
	float: right;
	margin-left: 34px;
	padding-right: 13px;
}
.hlk2ri1{
	vertical-align: middle;
}
.hl2krs1{
	margin-left: 15px;
	font-size: 16px;
	font-weight: bold;
}
.hlk2rp1{
	font-size: 14px;
	width: 440px;
	color: #8f8f8f;
}
.hlk2rd{
	margin-top: 10px;
	overflow: hidden;
}
.hlk2ri1{
	float: left;
}
.hlk2rd2{
	margin-left:7px;
	float: right;
}
.hl2krs2{
	font-size: 14px;
	font-weight: bold;
	color: #3c3c3c;
}
.hlk2rp2{
	font-size: 14px;
	margin-top: 20px;
	width: 383px;
	color: #8f8f8f;
}
.Dmsym{
	padding:27px 0;
	overflow: hidden;
}
.Dmsymz{
	width:280px;
	margin:0 auto;
	overflow: hidden;
	color: #737373;
}
.Dsyy{
	float: left;
	padding: 2px 7px;
	font-size: 12px;
}
.Dsz1{
	float: left;
	padding: 2px 7px;
	font-size: 12.13px;
}
.Dsz1:hover,.Dsyy:hover{
	background: #6e6e6e;
	color: white;
}
.hr{
	float: right;
}
.hrk1{
	padding: 7px 0;
	background:#cc0000; 
}
.hrk1s1,.hrk7s1{
	margin-left:20px; 
	font-size:18px;
	color: white;
}
.hrk2{
	padding: 9px 19px;
	border:1px solid #6e6e6e;
}
.hrk2l1{
	border-bottom: 1px dashed #8b8b8b;
}

.hrk2l1,.hrk2l2{
	overflow: hidden;
	padding-top: 13px;
	padding-bottom: 15px;
	
}
.hrk2i1{
	float: left;
}
.Dxk1{
	margin-left: 19px;
	float: right;
}
.Dxk2{
	overflow: hidden;
}
.hrk2i2{
	float: left;
}
.Dxk3{
	float: right;
	margin-left: 20px;
}
h4{
	font-size: 14px;
}
.hrk1s2{
	font-size: 12px;
	color: #9c9c9c;
}
.hrk2p{
	margin-top: 10px;
	font-size: 12px;
	color: #626262;
	width: 128px;
}
.hrk7{
	margin: 26px 0 17px;
	padding: 7px 0;
	background:#cc0000; 
}
.Dbslul{
	border: 1px solid #6e6e6e;
}
.Dbslli1{
	padding:18px 15px 13px 10px;
	overflow: hidden;
}
.Dtli1{
	float: left;
}
.DHJHAX{
	float: right;
	margin-left: 15px;
}
.Dsyiri{
	font-size: 12px;
	color: #626262;
}
.d1k1y1{
	margin-top:30px; 
}
.DIi2,.DIi3{
	vertical-align: middle;
}
.DIi3{
	margin-left: 20px;
}
.D1168{
	color: #6e6e6e;
	margin-left: 10px;
	font-size: 12px;
}
